# ------------------------------------------------------------------------------
# DJANGO SETTINGS
# ------------------------------------------------------------------------------
SECRET_KEY=''
DEBUG=
ALLOWED_HOSTS=localhost,127.0.0.1


# ------------------------------------------------------------------------------
# DATABASE SETTINGS
# ------------------------------------------------------------------------------
# Para SQLite local, use: sqlite:///db.sqlite3
DATABASE_URL=

# ------------------------------------------------------------------------------
# GOOGLE CLOUD & VERTEX AI SETTINGS
# ------------------------------------------------------------------------------
# O ID do seu projeto no Google Cloud Console
PROJECT_ID=''

# Região onde o modelo está hospedado (ex: us-central1, southamerica-east1)
LOCATION=''

# ID do modelo generativo (ex: gemini-1.5-flash ou gemini-1.5-pro)
MODEL_ID=''

# Caminho absoluto para o arquivo JSON da sua Service Account
# Exemplo Windows: C:\Users\nome\projeto\chave.json
# Exemplo Linux/Mac: /home/usuario/projeto/chave.json
GOOGLE_APPLICATION_CREDENTIALS=''