<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processar Pagamento</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1>Processar Pagamento</h1>
        <p><strong>Pedido ID:</strong> {{ pedido.id }}</p>
        <p><strong>Total do Pedido:</strong> {{ pedido.calcular_total }}</p>

        <form method="post" action="{% url 'processar_pagamento' pedido.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
