<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processar Pagamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Atlantic Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_produtos' %}">Produtos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'visualizar_cliente' %}">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ver_carrinho' %}">Carrinho</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="form-inline my-2 my-lg-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sair</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success my-2 my-sm-0" href="{% url 'login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary my-2 my-sm-0" href="{% url 'cadastro_cliente' %}">Cadastrar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container mt-5">
        <h1>Processar Pagamento</h1>
        <p><strong>ID do Pedido:</strong> {{ pedido.id }}</p>
        <p><strong>Total do Pedido:</strong> {{ pedido.calcular_total|floatformat:2 }}</p>

        <form method="post" action="{% url 'processar_pagamento' pedido.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
