/* Estilização do contêiner principal */
.product-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Título do produto */
  .product-detail-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Descrição do produto */
  .product-detail-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
  }
  
  /* Preço do produto */
  .product-detail-container .price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #e67e22;
  }
  
  /* Estilização do formulário */
  .product-detail-container .form-group {
    margin-top: 20px;
  }
  
  .product-detail-container .form-group label {
    font-weight: bold;
  }
  
  .product-detail-container .form-control {
    width: 100px;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .product-detail-container .btn-primary {
    background-color: #3498db;
    border-color: #2980b9;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .product-detail-container .btn-primary:hover {
    background-color: #2980b9;
  }
  
  /* Barra de Pesquisa */
.form-inline .form-control {
    border-radius: 50px;
    padding-left: 10px;
    border: 1px solid #ced4da;
}

.input-group-prepend .input-group-text {
    background: transparent;
    border: none;
    padding-right: 0;
    padding-left: 10px;
}

.input-group-text i {
    color: #fe0000; /* Cor cinza mais escura */
}

.input-group-text:hover i {
    color: #007bff;
}

body {
    background: linear-gradient(to bottom, #007bff 10%, #ffffff 40%);
    background-attachment: fixed; /* Para que o gradiente permaneça fixo ao rolar a página */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Garantir que a fonte seja consistente */
}

/* CSS para garantir que o carrossel ocupe 100% da largura da tela */
.carousel {
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto; /* Mantém a proporção das imagens */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço do contêiner */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semitransparente aos controles */
    border-radius: 50%; /* Torna os controles redondos */
    padding: 10px; /* Espaçamento interno dos controles */
}

/* Estilização dos cartões de produto */
.product-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-name {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.product-price {
  font-size: 1.5em;
  color: #e67e22;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #3498db;
  border-color: #2980b9;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2980b9;
}

@media (max-width: 767px) {
  .product-card {
      margin-bottom: 20px;
  }
}

/* Barra de Pesquisa */
.search-bar {
  background: #3498db;
  color: #fff;
  border-radius: 20px; /* Arredondamento das bordas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Centraliza a barra de pesquisa */
  max-width: 800px; /* Define a largura máxima da barra de pesquisa */
}

.search-bar .input-group {
  border-radius: 20px; /* Arredondamento das bordas do grupo de entrada */
  overflow: hidden;
}

.search-bar .form-control {
  border: none;
  border-radius: 20px; /* Arredondamento das bordas do campo de entrada */
  font-size: 1.1rem;
  height: 40px; /* Ajuste a altura conforme necessário */
}

.search-bar .input-group-append .btn-primary {
  background-color: #2980b9;
  border-color: #2980b9;
  border-radius: 20px; /* Arredondamento das bordas do botão */
  height: 40px; /* Ajuste a altura conforme necessário */
}

/* Estilos para garantir que o formulário de pesquisa fique dentro da barra de navegação */
.navbar .form-inline {
  flex: 1; /* Faz com que a barra de pesquisa ocupe o espaço disponível */
  max-width: 100%; /* Garante que o formulário não exceda a largura da barra de navegação */
  justify-content: center; /* Centraliza o formulário */
}

.navbar .input-group {
  width: 100%; /* Faz com que o grupo de entrada ocupe 100% da largura disponível */
}



/* Carrossel */
.carousel-inner img {
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}


/* Cartões de Categoria */
.category-card {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.category-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 5px solid #3498db;
}

.category-info {
  padding: 20px;
  text-align: center;
}

.category-title {
  font-size: 1.3em;
  color: #333;
  font-weight: bold;
}

/* Estilização da Página de Detalhes do Produto */
.product-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-img-wrapper {
  flex: 1;
  max-width: 300px;
}

.product-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-description {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  color: #e67e22;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #3498db;
  border-color: #2980b9;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

/*Estilização do PERFIL*/

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-header {
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
  padding: 2rem;
  line-height: 1.6;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  text-align: center;
}

.btn-back, .btn-logout {
  margin-top: 20px;
}

.btn-back a, .btn-logout a {
  color: #007bff;
  text-decoration: none;
}

.btn-back a:hover, .btn-logout a:hover {
  text-decoration: underline;
}

/*Estilização do CARRINHO*/

.container {
  margin-top: 50px;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card-body {
  padding: 2rem;
}

.list-group-item {
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.list-group-item:nth-child(even) {
  background-color: #f8f9fa;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.btn-success {
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-brand img {
  max-height: 80px; /* Ajuste a altura do logo conforme necessário */
  width: auto; /* Garante que a largura seja ajustada automaticamente */
  border-radius: 50%; /* Arredonda as bordas para criar um círculo */
  object-fit: cover; /* Garante que a imagem cubra a área do círculo sem distorcer */
}

/* Estilo para o nome do site */
.navbar-brand {
  font-family: 'Poppins', sans-serif; /* Aplica a fonte Poppins */
  font-weight: 700; /* Define o peso da fonte */
  font-size: 1.75rem; /* Ajuste o tamanho da fonte conforme necessário */
  color: #007bff; /* Cor do texto */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  letter-spacing: 1px; /* Espaçamento entre letras */
  transition: color 0.3s ease; /* Efeito de transição ao passar o mouse */
}

.navbar-brand:hover {
  color: #0056b3; /* Cor ao passar o mouse */
  text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}

/* Navbar */
.navbar-nav .nav-link {
  margin-right: 20px;
}
.navbar-brand {
  margin-right: 50px;
}
.navbar-nav .form-inline {
  margin-top: 0.5rem;
}

/* Barra de Pesquisa */
.search-bar {
  display: none; /* Escondido na barra de navegação para o layout atual */
}

.input-group {
  width: 100%;
  max-width: 500px;
}

.input-group-text {
  background-color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #343a40;
}

.input-group-text i {
  color: #343a40; /* Cor cinza mais escura */
}

.input-group-text:hover i {
  color: #007bff; /* Cor azul ao passar o mouse */
}

.form-control {
  border: none;
  border-radius: 20px 0 0 20px;
}

/*Estilizações foot*/
html, body {
  height: 100%;
  margin: 0;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}
.content-wrap {
  flex: 10;
}
.footer {
  background: #f8f9fa;
  padding: 20px 0; /* Ajuste o padding para um espaço menor */
  color: #000000;
  font-size: 14px;
}
.footer .footer-links a {
  color: #2e6da3;
  margin-right: 20px;
  text-decoration: none;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .social-icons a {
  margin-right: 10px;
  color: #6c757d;
}
.footer .social-icons a:hover {
  color: #007bff;
}

/* Classe para botão com o mesmo tamanho da barra de pesquisa */
.btn-custom-size {
  height: calc(2.25rem + 2px); /* Ajuste para combinar com a altura da barra de pesquisa */
  padding: 0.375rem 0.75rem; /* Ajusta o padding para combinar com o input */
  font-size: 1rem; /* Ajusta o tamanho da fonte para corresponder ao input */
  line-height: 1.5; /* Define a altura da linha para alinhamento vertical */
  border-radius: 0.25rem; /* Arredondar as bordas do botão */
  border: 1px solid #ced4da; /* Adiciona borda para combinar com o input */
  display: flex; /* Utiliza flexbox para garantir que o botão se alinha corretamente */
  align-items: center; /* Alinha o conteúdo verticalmente */
  justify-content: center; /* Alinha o conteúdo horizontalmente */
}

.btn-custom-size:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse, ajuste conforme necessário */
  border-color: #004085; /* Cor da borda ao passar o mouse */
}

.product-title {
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
  font-size: 3rem; /* Aumenta o tamanho da fonte */
  color: #333; /* Cor do texto */
  font-weight: 700; /* Torna a fonte mais grossa */
  text-transform: uppercase; /* Deixa todas as letras maiúsculas */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  margin-bottom: 30px; /* Espaço abaixo do título */
  letter-spacing: 2px; /* Aumenta o espaçamento entre as letras */
  display: inline-block;
  border-bottom: 3px solid #007bff; /* Linha abaixo do texto */
  padding-bottom: 10px; /* Espaço entre o texto e a linha */
}

.product-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #007bff; /* Cor verde para a linha */
  margin: 10px auto 0;
}

.section-title {
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
  font-size: 3rem; /* Aumenta o tamanho da fonte */
  color: #333; /* Cor do texto */
  font-weight: 700; /* Torna a fonte mais grossa */
  text-transform: uppercase; /* Deixa todas as letras maiúsculas */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  margin-bottom: 30px; /* Espaço abaixo do título */
  letter-spacing: 2px; /* Aumenta o espaçamento entre as letras */
  display: inline-block;
  border-bottom: 3px solid #007bff; /* Linha abaixo do texto */
  padding-bottom: 10px; /* Espaço entre o texto e a linha */
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #007bff; /* Cor azul para a linha */
  margin: 10px auto 0;
}