{% extends 'app_loja/base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Atlantic Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_produtos' %}">Produtos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'visualizar_cliente' %}">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ver_carrinho' %}">Carrinho</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="form-inline my-2 my-lg-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sair</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success my-2 my-sm-0" href="{% url 'login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary my-2 my-sm-0" href="{% url 'cadastro_cliente' %}">Cadastrar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">Produtos em {{ categoria }}</h2>
        <div class="row mb-5">
            {% for produto in produtos %}
                <div class="col-md-4">
                    <div class="card product-card mb-4 shadow-lg">
                        <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ produto.nome }}</h5>
                            <p class="card-text">{{ produto.descricao }}</p>
                            <p class="card-text">Preço: {{ produto.preco }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
