{% extends 'app_loja/base.html' %}

{% load static %}

{% block title %}Resultado da Busca{% endblock %}

{% block content %}
<!-- Exibição das Mensagens -->
<div class="container mt-3">
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>

<!-- Resultados da Busca -->
<div class="container mt-5">
    {% if produto_selecionado %}
        <div class="mb-4">
            <h3>Resultado:</h3>
            <div class="card mb-4 shadow-lg">
                <a href="{% url 'detalhe_produto' produto_selecionado.id %}">
                    {% if produto_selecionado.imgUrl %}
                        <img src="{{ produto_selecionado.imgUrl }}" class="card-img-top mx-auto d-block" alt="{{ produto_selecionado.nome }}" style="max-height: 350px; max-width: fit-content; object-fit: fill;">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagem do Produto">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{% url 'detalhe_produto' produto_selecionado.id %}">
                            {{ produto_selecionado.nome }}
                        </a>
                    </h5>
                    <p class="card-text">Preço: R$ {{ produto_selecionado.preco|floatformat:2 }}</p>
                    <p class="card-text">Categoria: {{ produto_selecionado.subcategoria }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <p>Nenhum produto encontrado.</p>
    {% endif %}

    {% if produtos_similares %}
        <h3 class="mb-4">Você também pode gostar:</h3>
        <div class="row">
            {% for produto_similar in produtos_similares %}
                <div class="col-md-4 mb-4">
                    <div class="card mb-4 shadow-lg">
                        <a href="{% url 'detalhe_produto' produto_similar.id %}">
                            {% if produto_similar.imgUrl %}
                                <img src="{{ produto_similar.imgUrl }}" class="card-img-top mx-auto d-block" alt="{{ produto_similar.nome }}" style="max-height: 350px; max-width: fit-content; object-fit: fill;">
                            {% else %}
                                <img src="{% static 'images/default.jpg' %}" class="card-img-top mx-auto d-block" alt="Imagem do Produto" style="max-height: 350px; max-width: fit-content; object-fit: fill;">
                            {% endif %}
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <a href="{% url 'detalhe_produto' produto_similar.id %}">
                                    {{ produto_similar.nome }}
                                </a>
                            </h5>
                            <p class="card-text">Preço: R$ {{ produto_similar.preco|floatformat:2 }}</p>
                            <p class="card-text">Categoria: {{ produto_similar.subcategoria }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhum produto similar encontrado.</p>
    {% endif %}
</div>
{% endblock %}
